# Node modules
/node_modules/

# Ignore package-lock.json
package-lock.json

# Build output
/dist/
/build/
/.vscode/


# Backend-specific
backend-nodejs-server/node_modules/
backend-nodejs-server/.env
backend-nodejs-server/logs/